In [2]:
import os 
os.chdir('/Users/marcs')

In [3]:
import matplotlib.pyplot as plt
from pickle_loader import pickle_loader
import datetime as dt
import pandas as pd

In [5]:
fundamental_data = pickle_loader('/Users/marcs/OneDrive/Documents/stock_analysis2/final_fundamental_dict.pickle')

In [40]:
fundamental_data['MMM']

,2023-06-30,2023-03-31,2022-12-31,2022-09-30
Treasury Shares Number,392040626.0,392360839.0,394787951.0,NaN
Ordinary Shares Number,551992430.0,551672217.0,549245105.0,552742915.0
Share Issued,944033056.0,944033056.0,944033056.0,552742915.0
Net Debt,11729000000.0,12136000000.0,12284000000.0,12301000000.0
Total Debt,16231000000.0,16223000000.0,16200000000.0,16516000000.0
...,...,...,...,...
Depreciation And Amortization,449000000.0,466000000.0,460000000.0,450000000.0
Operating Gains Losses,38000000.0,37000000.0,54000000.0,-2683000000.0
Pension And Employee Benefit Expense,38000000.0,37000000.0,54000000.0,41000000.0
Gain Loss On Sale Of Business,NaN,NaN,0.0,NaN
Net Income From Continuing Operations,-6836000000.0,981000000.0,543000000.0,3863000000.0

In [24]:
list(fundamental_data['MMM'].columns)[0].strftime('%d-%m-%Y')

'30-06-2023'

In [25]:
All_dates = [list(data.columns)[-4:] for stock, data in fundamental_data.items()] # Only last 4 quarters used

In [41]:
first_date = [stock_date[3].strftime('%d-%m-%Y') for stock_date in All_dates]
last_date = [stock_date[0].strftime('%d-%m-%Y') for stock_date in All_dates]

In [42]:
from collections import Counter


first_date_count = Counter(first_date)
last_date_count = Counter(last_date)

In [43]:
first_date_count

Counter({'30-09-2022': 410, '31-07-2022': 33, '31-08-2022': 16})

In [44]:
last_date_count

Counter({'30-06-2023': 410, '30-04-2023': 33, '31-05-2023': 16})