In [1]:
import miceforest as mf
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

# Load data and introduce missing values
iris = pd.concat(load_iris(as_frame=True,return_X_y=True),axis=1)
iris.rename({"target": "species"}, inplace=True, axis=1)
iris['species'] = iris['species'].astype('category')
iris_amp = mf.ampute_data(iris,perc=0.25,random_state=1991)

In [62]:
iris_amp.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,NaN,3.5,1.4,0.2,0
1,NaN,3.0,1.4,0.2,0
2,4.7,3.2,1.3,NaN,0
3,4.6,3.1,1.5,0.2,NaN
4,5.0,NaN,1.4,0.2,0

In [54]:
# Create kernel.
num_datasets = 5

kds = mf.ImputationKernel(
  iris_amp,
  save_all_iterations=True,
    datasets=num_datasets,
  random_state=1991
)

# Run the MICE algorithm for 2 iterations
kds.mice(10)

# Return the completed dataset.
iris_complete = [kds.complete_data(dataset=i) for i in range(num_datasets)]

In [59]:
[(iris_complete[i].iloc[: ,:4] - iris.iloc[: ,:4]).mean(axis = None) for i in range(num_datasets)]

[0.01233333333333333,
 0.0265,
 -0.0016666666666666622,
 0.020333333333333325,
 0.01366666666666666]

In [60]:
iris_complete = [iris_complete[i].iloc[: ,:4] for i in range(num_datasets)]
(sum(iris_complete).div(num_datasets) - iris).mean(axis = None)

0.014233333333333325

In [45]:
[iris_complete[i].iloc[0,0] for i in range(4)]

[5.1, 5.4, 5.5, 5.4]

In [38]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0